# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Env / secrets
.env
.env.*
backend/db_config/firebase-adminsdk-key-fbsvc-a8c8f167bd.json

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
